@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Chewy&display=swap');

body {
  background-color: #0A4740;
}

* {
  scroll-behavior: smooth;
}

.font-chewy {
  font-family: 'Chewy',
    system-ui;
}

@font-face {
  font-family: "lucky-dino";
  src: url('./assets/fonts/LuckyDino.otf');
}

.font-dino {
  font-family: "lucky-dino";
}

.font-balsamiq {
  font-family: 'Balsamiq Sans',
    sans-serif;
}

.utility_croco1 {
  animation: rider1 2000s steps(9) infinite, straight1 7s linear infinite;
}

@keyframes rider1 {
  0% {
    background-position: 0px;
  }

  100% {
    background-size: cover;
  }
}

@keyframes straight1 {
  0% {
    /* transform: translateX(-100px); */
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(7.5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.utility_croco {
  animation: rider 2000s steps(9) infinite, straight 7s linear infinite;
  margin-left: auto;
}

@keyframes rider {
  0% {
    background-position: 0px;
  }

  100% {
    background-size: cover;
  }
}

.utility_croco {
  animation: rider 2000s steps(9) infinite, straight 7s linear infinite;
  margin-left: auto;
}

.utility_croco1 {
  animation: rider1 2000s steps(9) infinite, straight1 7s linear infinite;
}

@keyframes rider {
  0% {
    background-position: 0px;
  }

  100% {
    background-size: cover;
  }
}


@keyframes rider1 {
  0% {
    background-position: 0px;
  }

  100% {
    background-size: cover;
  }
}



@media (min-width:1024px) {
  @keyframes rider {
    0% {
      background-position: unset;
    }

    100% {
      background-size: unset;
    }
  }

  @keyframes straight {
    0% {
      transform: translateY(-124px);
    }

    50% {
      transform: translateY(-140px);
    }

    100% {
      transform: translateY(-124px);
    }
  }

  @keyframes rider1 {
    0% {
      background-position: unset;
    }

    100% {
      background-size: unset;
    }
  }

  @keyframes straight1 {
    0% {
      margin-top: -35px;
      transform: rotate(0deg);
    }

    50% {
      margin-top: -60px;
      transform: rotate(15deg);
    }

    100% {
      margin-top: -35px;
      transform: rotate(0deg);
    }
  }
}