@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Chewy&display=swap');

body {
  background-color: #0A4740;
}

* {
  scroll-behavior: smooth;
}

.font-chewy {
  font-family: 'Chewy',
    system-ui;
}

@font-face {
  font-family: "lucky-dino";
  src: url('./assets/fonts/LuckyDino.otf');
}

.font-dino {
  font-family: "lucky-dino";
}

.font-balsamiq {
  font-family: 'Balsamiq Sans',
    sans-serif;
}

.utility_croco1 {
  animation: rider1 2000s steps(9) infinite, straight1 7s linear infinite;
}

@keyframes rider1 {
  0% {
    background-position: 0px;
  }

  100% {
    background-size: cover;
  }
}

@keyframes straight1 {
  0% {
    /* transform: translateX(-100px); */
    transform: rotate(0deg);
  }

  50% {
    /* transform: translateX(0px); */
    transform: rotate(7.5deg);
  }

  100% {
    /* transform: translateX(0px); */
    transform: rotate(0deg);
  }
}

.utility_croco {
  animation: rider 2000s steps(9) infinite, straight 7s linear infinite;
  margin-left: auto;
}

@keyframes rider {
  0% {
    background-position: 0px;
  }

  100% {
    background-size: cover;
  }
}